footer{
    background-color: rgb(105, 216, 120);
    color: black;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-top: 1px solid lightgray;
    bottom: 0px;
    position: absolute;
    width: 100%;
}