footer {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: green;
    color: white;

    /*position: absolute;
    bottom: 0;*/
}

footer p {
    text-align: center;
}